* {
    margin: 0;
    padding: 0;
}


.nav-bar {
    background-color: darkcyan;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.nav-link {
    color: white;
    font-size: 2em;
    margin: 0 30px;
}


.nav-link-right {
    margin-left: auto;
    margin-right: 20px;
    color: white;
    font-size: 2em;

}