body {
    background: linear-gradient(to bottom right, #3899ee, #38e2ee);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    background-color: white;
    color: #401aff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 0.3em;
    padding: 2em 7em;
    font-weight: bolder;
    margin: 1em;
    border: none;
    cursor: pointer;
    transition: 0.18s ease-in-out;
}

.btn1:hover {
    transform:translateY(-5px) ;

}


.btn2:hover {
    transform: scale(0.97);
}