* {
    margin: 0;
    padding: 0;
}

.box {
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    font-size: 2em;
    color: darkblue;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    align-items: center;
    animation-name: move;
    animation-duration: 2s;
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes rotate2 {
    0% {
        background-color: aliceblue;
    }

    25% {
        background-color: rgb(179, 218, 252);
    }

    50% {
        background-color: rgb(113, 184, 246);
    }

    75% {
        background-color: rgb(41, 146, 238);
    }

    100% {
        background-color: rgba(13, 13, 255, 0.753);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



