* {
    margin: 0;
    padding: 0;
}



body {
    font-family: "Cormorant";
    font-weight: 500;
    font-size: large;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h3, h4, h5, h6 {
    font-size: larger;
}


header {
    padding: 150px;
    background-color: rgba(228, 210, 250, 0.682);
}

.title {
    display: block;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header > p {
    text-align: center;
}

p.headline {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: smaller;
}

#time {
    text-align: center;
    padding: 30px;
}

main.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    background-color: rgba(228, 210, 250, 0.10);
}

section {
    margin-bottom: 30px;
}

blockquote.quote {
    font-style: italic;
    font-size: smaller;
    margin-left: 20px;
    padding: 16px;
    border-left: 1.9px solid rgb(101, 38, 156);
}

.quote cite {
    display: block;
    font-weight: bold;
    margin-left: 15px;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: rgba(228, 210, 250, 0.682);
}

footer li {
    list-style-type: none;
}

footer ul li a {
    color: rgb(30, 1, 25);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

span {
    color: rgb(101, 38, 156);
    font-weight: bolder;
}

a {
    font-weight: bolder;
}