@charset "UTF-8";


/*
    em HTML é id = e em CSS é # (Só pode um elemento)
    em HTML é class = e em CSS é . (Pode vários elementos)
*/

body {
    background-color: #cee7d9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;
}



h1#principal {
    background-color: rgb(4, 68, 47);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    text-decoration: dashed;
}



h1 {
    color: #0b643b;
    font-size: 30px;
    text-align: center;
}



h2 {
    color: #032b14;
    font-size: 20px;
    text-align: center;
}

.basico {
    color: #97b626;
}

.intermediario {
    color: #c90818;
}


.destaque {
    background-color: #7fa00971;
}