* {
    padding: 0;
    margin: 0;
    
}



body {
    background-color: #06c2e89b;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;

}


h1 {
    color: darkblue;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: auto;
    max-width: 800px;
    color: rgb(2, 30, 65);
    border-radius: 20px;
    padding: 0 58px 58px 58px;
    position: relative;

}


.tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(71, 61, 139, 0.675);
}

.tabs p {
    padding: 16px;
}

.tabs p:hover {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}

.line {
    height: 1.8px;
    position: absolute;
    width: 100%;
    top: 50px;
    background-color: rgba(0, 0, 139, 0.558);
}